<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Hello, Welcome!</h1>
    <p class="secret-text">I wish you a secret free experience</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Share a secret</a>
  </div>
</div>

<%- include('partials/footer') %>
